* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --sky: #03a8e8;
    --dark-blue: #034871;
    --dark-grey: #333333;
    --light-grey: #999999;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

a {
    all: unset;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1024px;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
}

.title {
    color: var(--dark-blue);
    text-align: center;
    text-transform: uppercase;
}

button {
    background-image: linear-gradient(to top, var(--dark-blue) 40%, var(--sky) 99%);
    color: var(--dark-blue);
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 275ms ease-in-out;
    background-size: 200% 200%;

    &:hover {
        background-position: 100%;
    }
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    & .logo {
        width: 100px;
    }

    & .links {
        display: flex;
        gap: 20px;

        & a {
            text-transform: uppercase;
            color: var(--dark-blue);
            background-image:
                linear-gradient(to right, var(--dark-blue) 50%, transparent 50%);
            background-size: 300%;
            background-position: 100%;
            transition: 275ms ease-in-out;
            padding: 5px 10px;
            border-radius: 3px;
        }

        & a:hover {
            background-position: 0;
            color: #fff;
        }
    }
}

.grid-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    ;
    gap: 20px;

    & .product {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        overflow: hidden;
        border: 3px solid #fff;
        box-shadow: 0px 0px 15px #0006;

        & img {
            width: 100%;
            height: 300px;
            object-fit: cover;

        }

        & .info {
            display: grid;
            padding: 10px;
            background-image: linear-gradient(to bottom,
                    transparent, #fff);
            height: 150px;

            & h3 {
                color: var(--dark-blue);
            }

            & p {
                color: var(--dark-grey);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
            }


        }
    }
}

.section>.bio {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-bottom: 40px;

    & img {
        max-width: 400px;
        min-width: 300px;
    }

    & p {
        line-height: 20px;
        max-width: 400px;
    }

}

& .button {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
}

.checkout-products {
    & .product {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        margin-bottom: 40px;

        & img {
            width: 400px;
            height: 400px;
            object-fit: cover;
        }

        & p {
            line-height: 20px;
            max-width: 400px;
        }

        & button {
            background-color: var(--dark-blue);
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;
            transition: 275ms ease-in-out;


        }
    }
}

.carousel-categories {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-around;
    margin-top: 40px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    & .category {
        color: var(--dark-blue);
        text-decoration: none;
        padding: 10px 20px;
        margin: 0 0 0 5px;
        border: 1px solid var(--dark-blue);
        border-radius: 3px;
        cursor: pointer;
        transition: 275ms ease-in-out;
        flex: 1 0 auto;



        &:hover {
            background-color: var(--dark-blue);
            color: #fff;
        }
    }

    & .active {
        background-color: var(--dark-blue);
        color: #fff;
    }
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-around;
    margin-top: 40px;
    overflow: auto;
    width: 100%;

    & .controls {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: min(100%, 1080px);
        justify-content: space-between;
        padding: 10px 20px;

        & button {
            background-color: var(--dark-blue);
            color: #fff;
            border: none;
            padding: 10px;
            aspect-ratio: 1 / 1 !important;
            width: 40px;
            border-radius: 50%;
            cursor: pointer;
            transition: 275ms ease-in-out;
            box-shadow: 5px 5px 5px #0006,
                -3px -3px 10px #fff6,
                inset 3px 5px 4px #fff6,
                inset -3px -3px 10px #0006;

                &.prev {
                   opacity: 0;
                   pointer-events: none;
                }   
        }
    }

    &::-webkit-scrollbar {
        display: none !important;
    }

    & .product {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        overflow: hidden;
        border: 3px solid #fff;
        box-shadow: 0px 0px 15px #0006;
        width: min(300px, 100%);
        flex: 1 0 auto;
        transition: .5s ease-in-out;

        & img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        & .info {
            display: grid;
            grid-template-rows: 1fr 1fr 2fr;
            gap: 10px;
            padding: 10px;
            background-image: linear-gradient(to bottom,
                    transparent, #fff);
            height: 150px;

            & .title {
                font-size: 1.2rem;
                font-weight: bold;
            }

            & p {
                color: var(--dark-grey);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
            }

            & button {
                background-color: var(--dark-blue);
                color: #fff;
                border: none;
                padding: 10px;
                border-radius: 3px;
                cursor: pointer;
                transition: 275ms ease-in-out;
                display: flex;
                flex: 1 0 auto;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 60px;
                align-items: center;
                justify-content: center;
            }

            
        }
    }

}

.unavaliable {

    filter: grayscale(1);

    & * {
        pointer-events: none;
    }

    & button {
        background-color: var(--light-grey) !important;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        transition: 275ms ease-in-out;
    }
}

hr {
    border-top: 1px solid var(--dark-grey);
}

[this] {
    border: 1px solid red;
}